#je n'ai p mis la base de donnee dans le gitignore pour te liser la voir
# mais normalement il faut la mettre dans le gitignore  ave le fichier de config
# car elle contient des informations sensibles (login, mot de passe)
